@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200&family=Poppins:wght@400;600&family=Rubik:wght@800&display=swap");


@font-face {
  font-family: "PPNeueMontreal";
  src: url("../public/font/PPNeueMontreal-Bold.otf") format("otf");
}

:root {
  --couleurMain: #f3f1ee;
  --couleurFond: #031335;
}

.container-contact{
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 79px 0; 
}

.contact{
  height: 100%;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.adresse-mail{
  font-size: 4rem;
  font-family: "PPNeueMontreal";
  text-transform: uppercase;
  overflow: hidden;
  height: fit-content;
  width: fit-content;
  color: white;
}

.adresse-mail > .char{
  position: relative;
  top : -80px
}

.contact-title{
  font-size: 4rem;
  letter-spacing: 3px;
  font-family: 'Do Hyeon', sans-serif;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--couleurMain);
  color: var(--couleurFond);
  text-align: center;
}

.btn-footer{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  padding: 5px 0;
}

.btn-footer p {
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 2px;
}

.logo-info{
  width: 10%;
  display: flex;
  justify-content: space-around;
}