@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200&family=Poppins:wght@400;600&family=Rubik:wght@800&display=swap");

@font-face {
    font-family: "PPNeueMontreal";
    src: url("../public/font/PPNeueMontreal-Bold.otf") format("otf");
}
  
:root {
  --couleurMain: #031335;
  --couleurFond: #f3f1ee;
}

.container-contact {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.discover {
  background-color: transparent;
}

.container-contact .background-cacher {
  background-color: var(--couleurMain);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 0 100% 100% 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding-left: 0vw;
  overflow: hidden;
}

.background-cacher h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--couleurFond);
  position: relative;
  top: 5%;
  left: 40%;
  transform: translate(-40%, -5%);
  font-size: 3rem;
}

.container-coordonnee{
    position: relative;
    top: 20%;
    left: -10px;
    transform: translateY(-20%);
    overflow: hidden !important;
    background-color: var(--couleurFond);
    padding: 20px 0;
}

.coordonnee {
  font-size: 100px;
  white-space: nowrap;
  font-family: "PPNeueMontreal";
  line-height: 1.3;
  animation: slider 13.5s infinite linear; 
  color: var(--couleurMain) !important;
}

.coordonnee::after {
  content: "- KHAZZANI Badr - Mail : badraitoufel5@gmail.com - Tel : 06 86 01 11 47";
}

.container-contact img {
  width: 100%;
  height: 350px;
  max-height: 600px;
}

.toile {
  width: 100%;
  height: 50%;
  margin-left: -30px;
  scale: 1.05;
  transform: translateX(100%);
  filter: drop-shadow(0 4px 4px rgba(3, 19, 53, 0.8));
}

.section-btn-contact{
  width: 50%;
  padding: 5px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 30%;
  transform: translateX(-30%);
  bottom: 0;
  z-index: 999999999999999999 !important;
}

.section-btn-contact p, .section-btn-contact a{
  color: var(--couleurFond);
  font-family: 'Poppins';
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.logo-info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  position: relative;
  z-index: 999999999999999999999999 !important;
}

.arrow{
  transition: 1s all;
  position: relative;
  z-index: 999999999999999999999999 !important;
}


.arrow:hover{
  animation: arrow 1s infinite linear; 
}

@keyframes arrow {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
} 


@keyframes slider {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}
