@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200&family=Poppins:wght@400;600&family=Rubik:wght@800&display=swap");

@font-face {
  font-family: "PPNeueMontreal";
  src: url("./font/PPNeueMontreal-Medium.otf") format("otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --couleurMain: #031335;
  --couleurFond: #f3f1ee;
}

body {
  overflow: hidden;
  background-color: var(--couleurFond);
  position: relative;
}

main {
  position: relative;
}

.container-all-rideau svg {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000000;
}

.container-all-rideau svg path {
  stroke-width: 5;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: reveal 3s ease-in-out forwards;
  animation-delay: 0s;
}

.container-all-rideau {
  position: absolute;
  height: 100vh;
  width: 100%;
  /* display: none; */
}

.container-rideau {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 100000;
  
}

.disparu {
  display: none;
}

.container-rideau span {
  transition: 1s all;
}

.rideau-element {
  height: 25%;
  width: 100%;
  position: relative;
  background-color: var(--couleurMain);
  z-index: 99999;
}


/* section pour creer des boutons de téléchargement pour mes diplomes et ma lettre de recommandation */

.btn-diplome {
  height: 62px;
  width: 62px;
  position: fixed;
  bottom: -70px;
  left: 20px;
  border-radius: 50px;
  z-index: 1003;
  pointer-events: none;
  color: var(--couleurFond);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border: solid 2px var(--couleurFond);
  display: flex;
  background-color: var(--couleurMain);
  justify-content: center;
  align-items: center;
}

.btn-diplom svg {
  height: fit-content;
  justify-self: center;
  position: absolute;
}

.colorBtnSwipeDiplome {
  border: solid 2px var(--couleurMain);
  color: var(--couleurMain);
  background-color: var(--couleurFond);
}

.btn-diplome:hover {
  transform: scale(1.1);
}

.container-diplome {
  height: 100vh;
  width: 100%;
  background-color: #031335;
  position: fixed;
  transition: 1s cubic-bezier(1, 0, 0.8, 1);
  right: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  animation-delay: 0.5s;
  z-index: 1002;
  box-shadow: 5px 3px 30px -3px rgba(243,241,238,0.38);
}

.container-diplome-btn {
  z-index: 100000;
  display: flex;
  justify-content: space-evenly;
  width: 74%;
  min-width: 300px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.glowing-btn {
  position: relative;
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--couleurFond);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  font-weight: 900;
  color: var(--couleurFond);
  letter-spacing: 1em;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--couleurFond),
    0px 0px 0.5em 0px var(--couleurFond);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--couleurFond),
    0px 0px 0.5em 0px var(--couleurFond);
  box-shadow: inset 0px 0px 0.5em 0px var(--couleurFond),
    0px 0px 0.5em 0px var(--couleurFond);
  animation: border-flicker 2s linear infinite;
}

.ColorChange {
  background-color: var(--couleurFond);
  color: var(--couleurMain);
  border-color: var(--couleurMain);

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--couleurMain),
    0px 0px 0.5em 0px var(--couleurMain);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--couleurMain),
    0px 0px 0.5em 0px var(--couleurMain);
  box-shadow: inset 0px 0px 0.5em 0px var(--couleurMain),
    0px 0px 0.5em 0px var(--couleurMain);
  animation: border-flicker 2s linear infinite;
}

.ColorChange:hover {
  background-color: var(--couleurMain) !important;
  color: var(--couleurFond) !important;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  pointer-events: none;
  background-color: var(--couleurFond);
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  text-shadow: none;
  animation: none;
  background-color: var(--couleurFond);
  color: var(--couleurMain);
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

.apparaitContainerDiplome {
  right: 0;
}

.vanta-canvas {
  z-index: -1 !important;
}

#BackgroundPortfolio {
  z-index: -10000;
}

.container-info-btn {
  cursor: pointer;
  height: 62px;
  width: 62px;
  border-radius: 50px;
  position: fixed;
  right: 20px !important;
  bottom: -70px;
  z-index: 999;
}

.btn-info {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all !important;
  height: 52px !important;
  width: 52px !important;
  transform: translate(0.5rem, 0.5rem);
}

.btn-info-croix {
  z-index: 100;
  transition: 1s all !important;
  border: solid 2px var(--couleurFond);
}

.borderCroix {
  border : solid 2px var(--couleurFond);
}

.btn-info,
.btn-info-croix {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(10rem);
  backdrop-filter: blur(10rem);
  background-color: var(--couleurMain);
  cursor: pointer;
  border-radius: 100px;
}

.btn-info svg {
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.linkedin {
  transform: translate(-5rem, 0.5rem);
  z-index: 5;
}

.github {
  transform: translate(-3.7rem, -3.5rem);
  z-index: 5;
}

.mail {
  transform: translate(0.5rem, -5rem);
  z-index: 5;
}

a {
  position:relative !important;
  z-index: 999 !important;
}

/* cursor */

.cursor{
  border-radius: 1500px;
  mix-blend-mode: difference;
  left: 0;
  top: 0;
  position: fixed;
  cursor: none;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#cursor1{
  height: 100px;
  width: 100px;
  border : solid 2px var(--couleurFond);
  mix-blend-mode: difference;
}

#cursor2{
  height: 30px;
  width: 30px;
  background-color: var(--couleurFond);
  mix-blend-mode: difference; 

}

.cursorLarge{
  transition: 0.2s all;
  transform: translate(-50%, -50%);
  height: 300px !important;
  width: 300px !important;
}


.scrollbarProgression {
  height: 1%;
  width: 0%;
  position: absolute;
  bottom: 0;
  border: solid 0px var(--couleurMain);
  transition: 2s all;
}

.trait {
  border: solid 0.5px var(--couleurMain);

  width: 100%;
}

.conteneur-scrollbar-progression {
  height: 100%;
  transition: 1s all;
}

.Fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

/* nav style */
header {
  height: 47px;
  width: 90% !important;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  transition: 1s all;
}

header svg {
  height: 40px;
  width: 40px;
  fill: none;
  stroke: var(--couleurMain);
}

header svg path {
  stroke-width: 5;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: reveal 4s ease-in-out forwards;
  animation-delay: 2s;
}

/* Appliquez l'animation aux éléments path (lignes) */

header nav {
  position: relative;
}

nav ul {
  display: flex;
  grid-gap: 40px;
  list-style-type: none;
}

.LiensMenu li {
  overflow: hidden;
}

.mn {
  transform: translateY(-50px);
  transition: transform 0.5s;
}

.mn::before{
  content : "";
  position : absolute;
  width: 0;
  transform: translateX(50%);
  transition: 1s all;
  bottom: 0;
  height: 3px;
  background-color: var(--couleurMain);
}


.mn:hover::before{
  width: 100%;
}

nav ul li a {
  color: var(--couleurMain);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  position: relative;
  font-size: 1.125rem;
}

nav ul li a:before {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0%;
  bottom: -10px;
  background-color: var(--couleurFond);
  transition: 1s all;
}

nav ul li a:hover::before {
  width: 100%;
}

.scroll-container-three {
  margin: 100px 0 0 0;
  position: relative;
}

.scroll-container {
  display: flex;
  position: relative;
}

.content-project {
  height: 100vh;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.content-project-all-one,
.content-project-all-two,
.content-project-all-three {
  max-width: 1200px;
  min-width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s all;
  padding: 10px 0;
}

.imgtTechTitre,
.imgtTechTitre3 {
  display: none;
  flex-direction: column;
  height: 100%;
  width: 50%;
  position: relative;
  transform: translateY(-500px);
  opacity: 0;
}

.h2Projet, .h3Projet{
  text-transform: uppercase;
  font-family: "PPNeueMontreal";
  color: var(--couleurMain);
  letter-spacing: -0.7px;
}

.imgtTechTitre2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  position: relative;
  transform: translateY(700px);
}

.imgtTechTitre div,
.imgtTechTitre2 div,
.imgtTechTitre3 div {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  margin: 30px 0 0 0;
}

.imgtTechTitre div > img,
.imgProject2,
.imgProject3 {
  height: 100%;
  width: 100%;
}

.mouseProjects {
  position: relative;
  z-index: 10000;
}

.imgProject,
.imgProject2,
.imgProject3 {
  height: 100%;
  width: 100%;
  position: absolute;
  /* background: url("./public/assets/img/Todo2.png") cover/center; */
  object-fit: cover;
}


.description-project,
.description-project3 {
  height: 100%;
  width: 50%;
  align-items: flex-end;
  display: none;
  position: relative;
  opacity: 0;
}

.description-project {
  transform: translateY(700px);
}

.description-project3 {
  transform: translateX(700px);
}

.description-project2 {
  height: 100%;
  width: 50%;
  align-self: flex-end;
  display: flex;
  position: relative;
  transform: translateY(-800px);
}

.description-project p,
.description-project2,
.description-project3 p {
  height: fit-content;
  font-family: "PPNeueMontreal";
  font-size: 1.7vw;
  line-height: 2rem;
  letter-spacing: 3px;
  font-weight: 500;
  margin-left: 10px;
  color: var(--couleurMain);
}

#titleProjectSection{
  position: relative;
  right: 20px;
}


.content-project span {
  position: absolute;
  bottom: -180px;
  left: 0;
}

.TitleProjects{
  position: relative;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 284px;
  color: var(--couleurMain);
}

.TitleProjects .char {
  position: relative;
  overflow: hidden;
  height: 150px;
}

.container-two {
  position: relative;
  height: auto;
  min-width: 300px;
  padding: 0px 0px 100px 0;
}

.about-me {
  width: 75%;
  margin: 0px auto;
  font-kerning: none;
  color: var(--couleurMain);
  font-family: PPNeueMontreal-Medium;
  line-height: 1.55;
  position: relative;
  font-size: clamp(2rem, 5vw, 8rem);
}

.about-me > .line {
  position: relative;
}

.box-cacher-line {
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: var(--couleurFond);
  z-index: 9;
  left: 0;
  transition: 0.5s ease-in-out;
}

.pop-up-scroll{
  position: absolute;
  height: 0px;
  width: 0px;
  background-color: #03133570;
  backdrop-filter: blur(2px);
  border-radius: 50px;
  padding: 10px 30px;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.pop-up-scroll p{
  font-family: 'Poppins';
  font-weight: bold;
  color: var(--couleurFond);
  text-transform: uppercase;
  font-weight: bold;
  max-width: 1000px;
  min-width: 300px;
  padding: 10px 30px 0 30px;
  font-size: 1.2rem;
  text-align: center;
  transition: 0.4s all;
  opacity: 0;
}

/* presentation */

.container-one {
  position: relative;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-family: "Poppins";
  font-weight: 300;
  width: 80%;
  margin: 0 auto;
  font-size: 12.5vw;
  color: var(--couleurMain);
  text-transform: uppercase;
  line-height: 0.9;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
}

#myTxt div {
  position: relative;
  overflow: hidden;
}

#myTxt div:nth-child(1) {
  text-align: center;
}

#myTxt div:nth-child(3) {
  text-align: end;
}

.word {
  transform: translateY(170px);
  transition: transform 0.5s;
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.CarouselAuto {
  position: relative;
  scroll-behavior: none;
}

.CarouselAuto h2 {
  position: absolute;
  text-transform: uppercase;
  font-family: PPNeueMontreal-Medium;
  font-size: 4.54rem;
  color: var(--couleurMain);
  white-space: nowrap;
  top: -80px;
  z-index: 10000;
}

.three2 {
  z-index: -1;
  top: 0;
  bottom: 0;
  position: absolute;
}

.three2 canvas {
  transition: 1s all;
}

.Competences {
  margin: 100px 0;
  height: 100vh;
  position: relative;
}

.Competences .titleSkill{
  height: 70px;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -10%);
  z-index: 1111111;
  position: absolute;
}

.titleSkill{
  display: flex !important;
}

.Competences h2 {
  font-size: 3rem;
  font-family: "Poppins";
  font-weight: bold;
  color: var(--couleurFond);
  opacity: 0;
}

.container-skill {
  max-width: 900px;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  position: relative;
}

.container-skill div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.CompetenceCenter {
  height: 70px;
  min-width: 180px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CompetenceCenter svg {
  margin : 0px 5px
}   

.logo-info-a {
  position: relative;
  height: 100%;
}

.croix-svg {
  transform-origin: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s all;
}

.rotateCroix {
  transform: rotate(-135deg);
}

.croix-svg::before {
  content: "";
  position: absolute;
  background-color: var(--couleurFond);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 40%;
  height: 3px;
}

.croix-svg.active::after {
  background-color: #031335;
  transition: 1s all;
}

.croix-svg.active::before {
  background-color: #031335;
  transition: 1s all;
}

.croix-svg::after {
  content: "";
  position: absolute;
  background-color: var(--couleurFond);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-180deg);
  width: 40%;
  height: 3px;
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0.3;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.9;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn {
    font-size: 1em;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    stroke-dashoffset: 400;
    /* Le chemin est complètement caché */
  }

  100% {
    opacity: 1;
    stroke-dashoffset: 0;
    /* Le chemin est complètement révélé */
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}
